@import url('https://fonts.googleapis.com/css?family=Gudea');
*{
    margin: 0;
    padding: 0;
}
li a{
    text-decoration: none;
    color: #6c6868;
}
nav ul li{
    display: inline-block;
    padding-left: 10px;
}
nav{
    padding-bottom: 10px;
    border-bottom: 1px solid #cec5c5;
}
nav a:hover{
    color: #d6544f;
    text-decoration: none;
}
h1{
    margin: 20px 20px;
}
body{
    text-align: center;
    margin: auto;
    width: 60%;
    font-family: 'Gudea', sans-serif;
    color: #000;
    font-size: 20px;
}
footer {
    padding-top: 50px;
    padding-bottom: 50px;
}
footer ul li{
display: inline-block;
    }
.about p{
    text-align: justify;
}
.imagen{
    margin: 25px;
}
.iconos img{
    display: inline-block;
    width: 25px;
    padding-left: 5px;
}
.iconos {
    float: right;
}
.sirena img{
    width: 30%;
    padding-left: 15px;
    margin-top: 25px;
}
.sirena{
    float:none;
}

.arriba
{
   text-align: left;
    
}
.arriba a {
   color:#f23737;
    text-decoration: none;
    font-size: 15px;
    
}
.titulo
{
   color:#f23737;
    padding: 20px;
    
}
.pictures{
    margin: 5px;
    margin-top: 20px;
}
.copyright {
        margin: auto;
        padding: auto;
        text-align: center;
    }
  footer p {
        float: left;
        font-size: 13px;
    }
@media screen and (max-width: 1199px) {
    .contenido a {
        font-size: 12px;
    }
    .contenido li {
        display: block;
        margin-bottom: 10px;
    }
    .contenido h1 {
        font-size: 30px;
    }
    .imagen {
        width: px;
    }
    .about p {
        text-align: center;
    }
    .about {
        display: inline-block;
        display: flex;
        flex-direction: column-reverse;
        width: 250px;
        margin: auto;
        padding: auto;
        text-align: center;
    }
    .about section {
        width: 250px;
        margin: auto;
        padding: auto;
        text-align: center;
    }
    .about h1 {
        display: none;
    }
    .about section {
        width: 250px;
        margin: auto;
        padding: auto;
        text-align: center;
    }
     .sirena img {
        width: 40%;
        padding-left: 0px;
     
        padding-bottom: 20px;
        text-align: center;
    }
     footer ul li {
        float: none;
        padding: 0px;
        margin-top: 10px;
    }
    footer img {
        margin-left: 0px;
        margin-left: 2px;
    }
    footer p {
        float: none;
        font-size: 12px;
    }
    .iconos{
        text-align: center;
        display: inline-block;
        margin-right: 0.5px;
    }
    .copyright {
        margin: auto;
        padding: auto;
        text-align: center;
    }
}