@import url('https://fonts.googleapis.com/css?family=Gudea');
*{
    margin: 0;
    padding: 0;
}

h2{
    padding-bottom: 20px;
    padding-top: 20px;
}
li a{
    text-decoration: none;
    color: #6c6868;
}
ul li{
    display: inline-block;
    padding-left: 10px;
}
nav{
    padding-bottom: 10px;
    border-bottom: 1px solid #cec5c5;
    margin-bottom: 15px;
}
nav a:hover{
    color: #d6544f;
    text-decoration: none;
}

label{
    width: 25%;
    float: left;
    margin-right: 10px;

}
input, textarea{
    padding: 10px;
    box-sizing: border-box;
    width: 70%;
    float: left;
    margin-bottom: 20px;
}

body{
    text-align: center;
    margin: auto;
    width: 60%;
    font-family: 'Gudea', sans-serif;
    color: #000;
    font-size: 20px;
}
footer {
    padding-top: 50px;
        padding-bottom: 50px;
}

.formulario{
    width: 100%;
    margin-bottom: 15px;  
    margin-top: 10px;
    margin-right: 10px;
}
.footer{
    background-color: #f05454;
    text-align: center;
    color: white;
}

.boton{
    width: auto;
    background-color:#000000;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    float: none;
        
}
.boton:hover{
    background-color: #f23737;
}

.imagen{
    margin: 25px;
}
.iconos img{
    display: inline-block;
    width: 25px;
    padding-left: 5px;
}
.iconos {
    float: right;
}
.copyright {
        margin: auto;
        padding: auto;
        text-align: center;
    }
  footer p {
        float: left;
        font-size: 13px;
    }
@media screen and (max-width: 1199px) {
    .contenido {
        width: 680px;
    }
    .contenido a {
        font-size: 12px;
    }
    .contenido li {
        display: block;
        margin-bottom: 10px;
    }
    .contenido h1 {
        font-size: 30px;
    }
    .imagen {
        width: px;
    }

     footer ul li {
        float: none;
        padding: 0px;
        margin-top: 10px;
    }
    footer img {
        margin-left: 0px;
        margin-left: 2px;
    }
    footer p {
        float: none;
        font-size: 12px;
    }
    .iconos{
        text-align: center;
        display: inline-block;
        margin-right: 0.5px;
    }
    .copyright {
        margin: auto;
        padding: auto;
        text-align: center;
    }
     }


