@import url('https://fonts.googleapis.com/css?family=Gudea');
*{
    margin: 0;
    padding: 0;
}
section{
    background-color: #77c6b1;
    padding; 10px;
    width: 65%;
    float: left;
    margin-right:5%;
    box-sizing: border-box;
    margin-top: 25px;
    color:#ffffff;
    border-radius: 10px;
}
aside{
    color:#ffffff;
    background-color:#ff7676;
    padding:10px;
    width: 30%;
    float: left;
    box-sizing: border-box;
    margin-top: 25px;
    text-align: center;
    border-radius: 10px;
}
.articulos article{
    background-color: #ecfde3;
    color:#000000;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

article img{
    width: 300px;
    border-radius: 10px;
}
article p{
    font-size: 12px;
}
aside img{
    width: 150px;
    border-radius: 10px;
}
.subtitulo
{
   font-size: 15px;
}
h3
{
    text-align: center;
    padding-top: 15px;
}
article a
{
   text-decoration: none;
    font-size: 15px;
     color:#ff7676;
}
aside a
{
   text-decoration: none;
    font-size: 15px;
    color:#141313;
}
article a:hover{
    color: #000000;
    text-decoration: none;
}
aside a:hover{
    color: #dfffff;
    text-decoration: none;
}
aside article{
    color:#ffffff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}