@import url('https://fonts.googleapis.com/css?family=Gudea');
*{
    margin: 0;
    padding: 0;
}

article{
    background-color: #feb065;
    margin-bottom: 10px;
    height: 200px;
    color: #fff;
    text-align: center;
    padding:10px;
    width: 30%;
    margin: 5px 1.5%;
    float: left;
    box-sizing: border-box;
     border-radius: 10px;
}
article p
{
   text-align: center;
    font-size: 15px;
}
article img
{
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
   
}
.billboard
{
   width:80%;
    margin: 30px;
    text-align: center;
    border-radius: 10px;
}
.thanks
{
   width:40%;
    margin: 30px;
}