html {
	margin: 0;
	padding: 0;
}

div, 
input,
textarea {
	box-sizing: border-box;
}


.container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
/*	text-align: center;
	display: inline-block;
	height: 400px;
	max-width: 600px;
	min-width: 400px;
*/
}

.image-logo{
	width: 15%; /*Esto hace que achique la imagen. Seria el 15% del contenedor padre*/
	margin-top: 10px;
    margin-bottom: 26px;
}


.header-nav {
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 0 auto;
	font-size: 20px;
}

.header-nav {
	text-align: center; /* se lo pongo aqui para que centre toda las opciones de navegacion*/
}
.header-nav ul li {
	font-family: helvetica;
	display: inline-block;
	padding-right: 15px;
	text-align: center;
		
}

.header-nav ul li a {
	list-style-type: none;
	text-decoration: none;
	margin-right: 26px;
}

.header-nav a:hover {
	color: red;
}

.portfolio p {
	font-family: helvetica;
	font-size: 20px;
}

.minombre {
	font-family: helvetica;
	color: #EC7063;
	font-size: 46px;
	margin-top: 61px;
}

.centro p {
	width: 50%;
	margin: 0 auto;
	font-family: helvetica;
	font-size: 16px;
	margin-top: 40px;
}

.centro p {
	word-wrap: break-word;
}

.selected {
	font-weight: bold;
}

.about {
	margin-top: 40px;
	font-family: helvetica;
}

.about-referencia {
	float: left;
	text-align: right;
	font-size: 20px;
	width: 49%;
	word-wrap: break-word;
}

.about-referencia p {
	margin: 0; 
}

.about-foto {
	float: right;
	width: 49%;
}

.image-about {
	width: 100%;
	margin-top: 0;
}

.gallery {
	margin-top: 30px;
}

.gallery img {
	height: 200px; /*Modifique el alto para que se vean las imagenes mas uniformes. Tambien podria haber 
	modificado el ancho pero no las 2 variables juntas porque sino la imagen se deforma*/
}

.contact {
	width: 80%
	margin-top: 40px;
	font-family: cursive;
}

.col-left,
.col-right {
    width: 49%;
}

form {
    margin-top: 20px;
}
form input,
form textarea {
    width: 100%;
    border: 0;
    background-color: #eeeeee;
    padding: 10px;
    font-size: 16px;
    color: blue;
}

form input::-webkit-input-placeholder {
  color: pink;
}

form textarea::-webkit-input-placeholder {
	color: green;
}

.col-left label,
.col-right label {
    width: 20%;
}

.col-left {
    float: left;
}
.col-right {
    float: right;
}

.form-group {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.checkbox input {
	width: auto;
	margin-bottom: 14px;
}

.boton_enviar {
    width: auto;
    font-size: 16px;
}

footer {
	clear: both; /*Esto hace que ningun elemento flote al lado del 
	footer, ni a la derecha ni a la izquierda. Y si es Clear: Left ningun
	elemento flotara a la izquierda y si es 'Right' ninguno flotara
	a la derecha*/
}

.footer-copy {
	float: left;
	text-align: left;
	font-size: 12px;
	margin-top: 40px
}

.footer-icons {
	float: right;
	margin-top: 40px
}

.footer-icons img {
	width: 20px; /*Esta bien en este caso del footer poner un ancho fijo y no tanto poner porcentajes*/
}

.footer-icons li {
	display: inline-block; /*Como el li es un elemento en bloque, con el display: inline-block 
	hago que se comporte como un elemento en linea*/
}

@media (max-width: 767px) {

	.gallery img {
		width: 100%; /*Siempre se toma como referencia ya sea el alto o el ancho de una imagen, en
		               este caso tome al 100% el ancho */
		height: auto;
	} 

	.header-nav ul li {
		display: block;
		padding-right: 0;
	}
	.header-nav ul li a {
		margin-right: 0;
	}


	.about-referencia {
		width: auto;
		text-align: center;
		margin-bottom: 20px;
	}
	.about-foto {
		width: 100%;
		height: auto;
	}

}