html {
	margin: 0;
	padding: 0;
}

div {
	box-sizing: border-box;
}

body {
	background-color: black;
	margin: 0;
	padding: 0;
}



.main-nav ul {
	padding-left: 136px;
	margin: 0;
}

.main-nav ul li {
	font-family: helvetica;
	font-size: 13px;
	display: inline-block;
	padding-right: 15px;
	text-decoration: none;
	color: #000;
}



.icons {
	width: 12px;
}

.guionarte {
	display: block;
	margin: 0 auto;
	padding-top: 7px;
    width: 193px;
}

.secondary-nav {
	display: block;
	width: auto;
	height: auto;
}

.secondary-nav {
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
	font-size: 15px;
}

.secondary-nav ul li {
	font-family: helvetica;
	display: inline-block;
	padding-right: 15px;
	text-align: center;
		
}

.secondary-nav ul li a {
	list-style-type: none;
	text-decoration: none;
	color: #be7e10;
	margin-right: 26px;
}

.secondary-nav ul li a:hover {
	color: #9dadeb;
}


.frase {
	display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
}

.container {
	margin: 0 auto;
	width: 90%;
	height: 200px;
}

/* Columnas */
.columns {
	margin-top: 34px;
}

.column {
    float: left;
	background-color: #4f4f4f;
    width: 30%;    	
    padding-top: 26px;
    height: 371px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5%;
}

.column.first {
	margin-left: 0;
}

.column img {
	width: 100%;
}

.column h2 {
	color: #fcfcfc;
	font-family: helvetica;
	text-align: center;
	font-size: 21px;
	margin-top: 45px;	
}
.column p {
	color: #fcfcfc;
	font-family: helvetica;
	text-align: center;
	font-size: 14px;
    margin-top: 3px;
}

.column .txtpulsera {
    color: #f0ae58;
    margin-top: 5px;
}


.ppulsera {
	color: #fcfcfc;
}


.main-nav {
	background: #f0ae58;
	margin: 0px;
	padding-top: 7px;
	padding-bottom: 6px;
}


@media (max-width: 700px) {

	.main-nav {
		background-color: #ff0000;
	}

	.column {
		float: none;
		margin: 0;
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}

}