.container {
	width: 80%;
	margin: 0 auto;
	height: 400px;
	max-width: 600px;
	min-width: 400px;
}

.column {
	width: 33.33333%;
	float: left;
	height: 200px;
}

.first {
	background-color: blue;
}

.first img {
	width: 100%;
	height: 100%;
}

.second {
	background-color: red;
}

.third {
	background-color: yellow;
}