/* CSS */

/*Basic styles */

body {
	font-family: sans-serif;
	padding-top: 20px;
}

h1 {
	font-size: 75px;
	text-align: center;
}

h2 {
	font-size: 30px;
	margin-bottom: 20px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}

h5 {
	font-size: 14px;
	font-weight: bold;
}

p {
	font-size: 14px;
	line-height: 30px;
}

ul {
	padding-left: 10px;
	margin-bottom: 10px;
}

li {
	padding-left: 10px;	
	margin-bottom: 10px;
}

li a {
	font-size: 16px;
}

section {
	margin: 10px;
	padding: 10px;
	background-color: #ccc;
}

pre {
	margin: 10px;
	background-color: #272822;
	color: #fff;
}


/* subtitle */

.page-header {
	margin-bottom: 40px;
}

.subtitle {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.list-header {
	margin-bottom: 10px
}