
h1 {
	color: blue;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-family: Helvetica;
	background-color: #ccc;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 5px solid blue;	
}

.caja {
	background-color: green;
	width: 300px;
	height: 300px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	display: block;
    margin: 0 auto;
}

.azul {
	background-color: blue;
}

.rosa {
	background-color: pink;
}

.text-center {
	text-align: center;
}