/* Base styles */

body {
	font-family: arial;
}

h1 {
	color: #ac341c;
	margin-bottom: 0px;
	margin-top: 0;
	font-size: 80px;
	text-align: center;
	line-height: 70px;
}

h2 {
	text-transform: uppercase;
}

p.description {
    display: none;
}

.subtitle {
	font-size: 30px;
	margin-top: 0;
	text-align: center;
}

.align-center {
	text-align: center;
}

#header-image {
	position: relative;
	width: 100%;
}