html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
div,
textarea {
    box-sizing: border-box;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.container li {
		position: relative;
}

.div-logo {
	margin: 30px;
	text-align: center;
}

.logo {
	width: 20%;
	
}


.navigation {
	text-align: center;
	
	
}

.navigation ul {
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

.navigation ul li {
	display: inline-block;

}

.navigation ul li a {
	text-decoration: none;
	font-family: helvetica;
	color: #000;
	padding: 10px;

}

.navigation ul li a:hover {
	color: #b2325c;
}

.text {
	text-align: center;
	font-family: helvetica;
	margin: 30px;
}

.text h1 {
	margin-bottom: 20px;
	font-size: 33px;
	font-weight: bold;
}

.text h2 {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
}

.text p {
	margin: 0 auto;
	font-size: 15px;
	max-width: 70%;
}

.inter-text {
	font-weight: bold;
}

footer {
	margin: 50px auto;
}

footer p {
	font-family: helvetica;
	font-size: 10px;
}

.icons {

	float: right;

}

.icons ul li {
	display: inline-block;
	text-align: center;
}



.text-about {

	text-align: right;
	font-family: helvetica;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	max-width: 50%;
	float: left;
	
}

.text-about h1 {
	font-size: 33px;
	font-weight: bold;
	float: none;

}


.text-about p {	
	font-size: 15px;
	margin-top: 15px;
	
}


.img-about {
	float: right;
	margin-top: 30px;
	
}

.clear {
	clear: both;
}

.selected {
    font-weight: bold;
}
.col-left,
.col-right {
    width: 49%;
}
form {
    margin-top: 20px;
}
form input,
form textarea {
    width: 100%;
    border: 0;
    background-color: #eeeeee;
    padding: 10px;
    font-size: 16px;
}
form input[type="reset"],
form input[type="submit"] {
    width: auto;
    cursor: pointer;
}

.col-left label,
.col-right label {
    width: 20%;
}

.col-left {
    float: left;
}
.col-right {
    float: right;
}
.form-group {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.submenu {
    display: none;
}

ul li:hover .submenu {
    display: block;
    position: absolute;
    left: -10px;
    top: 17px;
    padding: 10px;
    background: #ccc;
}

@media (max-width: 864px){

	.container {
		width: 60%;
		margin: 0 auto;
	}

	.div-logo {
		margin: 30px;
		text-align: center;
	}


	.logo {
		width: 25%;
	}

	.navigation {
		text-align: center;
	}


	.navigation ul li {
		display: block;
		padding: 5px;

	}

	.about {
		margin: 0 auto;
		text-align: center;
	}

	.text-about {
		float: none;
		text-align: center;
		max-width: none;
	}

	.img-about {
		float: none;
		text-align: center;
	}


	.icons {
		display: none;
	}

	footer p {
		text-align: center;
	}	

}


@media (max-width: 430px){

		footer p {
		display: none;
	}

}
