body {
    background-color: white;
    font-family: sans-serif;
    box-sizing: border-box;
}
input,
div,
textarea {
    box-sizing: border-box;
}
.main-navigation {
    border-bottom: 1px solid #ccc;

}
.sub-nav ul {
	display: none;
}
.sub-nav:hover ul {
	display: block;
	position: absolute;
	background-color: #d3d3d3;
}
.contenido {
    margin: auto;
    text-align: center;
    width: 960px;
}
nav a:hover {
    color: #00bfff;
}
.contenido a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.contenido li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.contenido ul {
    padding: 0px;
}
.logo img {
    width: 170px;
    margin: 10px;
}
.logo1 img {
	width: 420px;
}
.contenido h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
}
.contenido .subtitulo {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.contenido p {
    font-size: 14px;
    max-width: 350px;
    margin: auto;
    padding: auto;
    text-align: center;
}
.about h1 {
    text-align: right;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.about p {
    text-align: right;
    padding-bottom: 20px;
    margin-right: 0;
}
.about section {
    display: inline-block;
    float: left;
    width: 50%;
    margin: auto;
    padding: auto;
    text-align: center;
}
.about {
    padding-top: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.ilustracion img {
    width: 100%;
    padding-left: 15px;
}
.ilustracion h1 {
    display: none;
}
.ilustracion {
    float: none;
}
footer img {
    width: 20px;
}
footer li {
    list-style: none;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}
footer p {
    float: left;
    font-size: 10px;
    padding-top: 10px;
}
footer ul {
    float: right;
}
.bot {
    padding-bottom: 80px;
    padding-top: 50px;
}
@font-face {
    font-family: "FuturaLight";
    src: url("../fonts/futuraLight.otf");
}
@font-face {
    font-family: "Making";
    src: url("../fonts/MakingTheQuality.ttf");
}
p {
    font-family: 'FuturaLight';
}
@media screen and (max-width: 1199px) {
    .contenido {
        width: 680px;
        margin-top: 100px;
    }
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix {
    zoom: 1;
}
/* IE6 */

*:first-child+html .clearfix {
    zoom: 1;
}
/* IE7 */

.selected {
    font-weight: bold;
}
.col-left,
.col-right {
    width: 49%;
}
form {
    margin-top: 20px;
}
form input,
form textarea {
    width: 100%;
    border: 0;
    background-color: #eeeeee;
    padding: 10px;
    font-size: 16px;
}
.col-left label,
.col-right label {
    width: 20%;
}

.col-left {
    float: left;
}
.col-right {
    float: right;
}
.col-right1 {
    float: right;
    margin-right: 10px;
}
.form-group {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.form-group1 {
    display: inline-block;
    margin-bottom: 10px;
    float: right;
    width: 25%;
}
.distancia {
	margin-top: -15px;
	margin-right: -770px;
    float: right;

}
.distanciai {
	margin-top: 100px;
	float: left;
}
@media (max-width: 767px) {
    .contenido {
        width: 90%;
    }
    .contenido a {
        font-size: 12px;
    }
    .contenido li {
        display: block;
        margin-bottom: 10px;
    }
    .contenido h1 {
        font-size: 30px;
    }
    .contenido .subtitulo {
        font-size: 16px;
    }
    .logo img {
        width: 150px;
    }
    .about h1 {
        display: none;
    }
    .about p {
        text-align: center;
    }
    .about {
        display: inline-block;
        display: flex;
        flex-direction: column-reverse;
        width: 250px;
        margin: auto;
        padding: auto;
        text-align: center;
    }
    .about section {
        width: 250px;
        margin: auto;
        padding: auto;
        text-align: center;
    }
    .ilustracion img {
        width: 100%;
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    .minombre h1 {
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }
    footer ul {
        float: none;
        padding: 0px;
        margin-top: 10px;
    }
    footer img {
        margin-left: 0px;
        margin-left: 2px;
    }
    footer p {
        float: none;
        font-size: 8px;
    }
    .iconos ul li {
        text-align: center;
        display: inline-block;
        margin-right: 0.5px;
    }
    .bot {
        margin: auto;
        padding: auto;
        text-align: center;
    }
    .col-left,
    .col-right {
        width: 100%;
    }
    .col-left {
        margin-bottom: 10px;
    }
    .col-right1 {
    float: right;
    margin-right: 10px;
    }
    .form-group {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    }
    .form-group1 {
    display: inline-block;
    margin-bottom: 10px;
    float: right;
    width: 25%;
    }
    .distancia {
	margin-top: -15px;
	margin-right: -490px;
    float: right;
    }
}