/* Base styles */

body {
	font-family: arial;
}

h1 {
	color: #ac341c;
	margin-bottom: 0px;
	margin-top: 0;
	font-size: 80px;
	text-align: center;
	line-height: 70px;
}

h2 {
	text-transform: uppercase;
}

p.description {
    display: none;
}

.subtitle {
	font-size: 30px;
	margin-top: 0;
	text-align: center;
}

.align-center {
	text-align: center;
}

.box-container {
    position: relative;
    top: 100px;
    border: 1px solid blue;
    height: 300px;
}

#crazy-box {
	display: inline-block;
    border: 3px solid;
    width: 200px;
    position: absolute;
    top: 75px;
}


#crazy-box img {
	width: 100%;
}