/* styles */

.container {
	margin: 0 auto;
	width: 800px;
}

.main-header img {
	margin-top: 7px;
    width: 67px;
    padding-left: 13px;
}

.main-header img:hover {
	cursor: pointer;
}

.main-navigation {
	float: right;
	margin-right: 15px;
}

.main-navigation ul {
	margin-top: 30px;
}

.main-navigation li {
	color: #2d2d2d;
	list-style: none;
	display: inline-block;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 17px;
}

.main-navigation a {
	color: #3d4039;
	text-decoration: none;
	font-size: 14px;
}

.main-navigation a:hover {
	color: #ccc;
	cursor:pointer;
}

main {
	padding-top: 100px;
}

main h1 {
    color: blue;
    font-size: 59px;
    font-family: serif;
    font-weight: 100;
    margin: 0;
    color: #2d2d2d;
    line-height: 65px;
}

.red-font {
	color:red;
}

.secondary-nav {
	padding: 0;
}

.secondary-nav li {
	list-style: none;
	display: inline-block;
	font-size: 20px;
	color: blue;
}

.secondary-nav li a {
	text-decoration: none;
	color: red;
	font-size: 23px;
}

.articles article {
	border-top: 1px solid #ccc;
	padding-top: 40px;  
}

.articles article img {  
	width: 45%
}

.articles article p {  
	width: 45%;
	float: right;
	margin-top: 30px;
	font-size: 20px;
}