body {
	font-family: arial;
}

h1 {
	color: green;
	font-size: 60px;
	background-color: #381053;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
}

.container {
	width: 720px;
	margin: 0 auto;
	position: relative;
}

p {
	margin-bottom: 20px;
}

.overflow-test {
	background-color: violet;
	height: 160px;
	overflow: auto;
}

#mario-world {
	position: relative;
}

#mario-background {
	width: 100%;
}

.character {
	position: absolute;
}

#mario {
    bottom: 16px;
    width: 129px;
    left: 172px;
}

#luigi {
	width: 100px;
    bottom: 11px;
    right: 190px;
}

#princess {
    width: 100px;
    bottom: 30px;
    right: 313px;	
}


blockquote {
	background-color: brown;
	color: yellow;
	width: 400px;
	height: 200px;
	margin: 0 auto;
	font-size: 30px;
	padding: 20px;
	float: right;
}

.col-1,
.col-2 {
	width: 45%;
}

p {
	text-align: justify;
}

.col-1 {
	float: left;
}

.col-2 {
	float: right;
}

#message-2 {
	display: none;
}

@media screen and (max-width: 959px) {

	h1 {
		color: red;
		font-size: 30px;
	}

}

@media screen and (max-width: 767px) {

	header h1 {
		font-size: 20px;
		color: blue;
	}

	.col-1,
	.col-2 {
		float: none;
		width: 100%;
	}

	.container {
		width: 100%;
	}

	#message-1 {
		display: none;
	}

	#message-2 {
		display: block;
	}


}

