@font-face {
    font-family: "AmerigoBT-MediumA";
    src: url("../fonts/AmerigoBT-MediumA.ttf");
} 
@font-face {
    font-family: "Open sans regular";
    src: url("../fonts/OpenSans-Regular.ttf")
} 


body {
    background-image: url("../img/ninth.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

main {
    text-align: center;
}

.main-navigation {
   
}

.main-navigation a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}


.main-navigation li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px;
    border-left-style: solid;
    border-left-color: white;
}

.main-navigation li a {
    transition: all 1s 3s;
}

.main-navigation li:last-child {
    border-right: 1px;
    border-right-style: solid;
    border-right-color: white;
}

.main-navigation li:hover a  {
    font-size: 20px;
    color: blue;
}

.main-navigation ul {
    margin: 0px;
    padding: 0px;
}

.main-navigation {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #090909;
    width: 100%;
    text-align: center;
    box-shadow: -5px 0px 40px 14px rgba(0,0,0,0.96);
}

.logo img{
    width: 30%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.contenido {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #272727;
    width: 80%;
    box-shadow: -5px 0px 56px 10px rgba(0,0,0,0.96);
    text-align: left;
    overflow: auto;
}

.contenido h1{
    color: white;
    font-size: 6p;
    font-family: "AmerigoBT-MediumA";
    margin: 0px;
}

.contenido p{
    color: white;
    font-size: 4p;
    font-family: "Open sans regular";
}

.columna-derecha{
    width: 30%;
    float: right;;
    margin: 2%;
   
}

.columna-izquierda{
    width: 60%;
    margin: 2%;
    float: left;
}

.derecha{
    text-align: right;
}   

.gallery li{
    list-style: none;
    width: 24%;
    float: left;
    padding: 3px;
}

.gallery img{
    width: 100%;
}


.logos {
    background-color: #090909;
    width: 100%;
    text-align: center;
    box-shadow: -5px 0px 25px 14px rgba(0,0,0,0.96);
    clear: both;
   
}

footer {
    clear: both;
}

*{
    box-sizing: border-box;
}




@media (max-width: 991px) {

    .logo img{
    width: 60%;
}

    .logos img {
        width: 90%;
    } 
    
    
    .gallery li{
    width: 50%;
}
    .main-navigation li {
    font-size: 12px;
}
    .columna-izquierda{
    margin: auto;
    width: 90%;
    float: none;
        
}
    
    .columna-derecha{
    float: none;
    margin: auto;
    width: 90%;    
}
}






@media (max-width: 767px) {
    
    
.main-navigation li {
    list-style: none;
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    border-left: 0px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
    font-size: 20px;
}
    
  .main-navigation .contact {
    border-bottom: 0px;
}

    
    .logo img{
    min-width: 90%;
}

    .gallery li{
    width: 100%;
    float:none;
    padding: 3px;
}
 
    
}
    



.clearfix:after {
  visibility: hidden;
  display: table;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

