.container {
	width: 700px;
	height: 400px;
	background-image: url('../img/paper-mario-background.jpg');
	background-size: cover;
	position: relative;
}

#mario {
	width: 205px;
	position: absolute;
	top: 30px;
	left: 40px;
}

#luigi {
	width: 150px;
	position: absolute;
	top: 30px;
	left: 40px;	
}
