
body {
	background-color: #1a1a1a;
	background-image: url('../img/ninth.jpg');
	background-size: cover; 
}

h1,
p {
	color: #fff;
}

h1 {
	font-size: 30px;
	margin-bottom: 20px;
}

.container {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.gallery li {
	width: 25%;
	float: left;
	padding: 5px;
	text-align: center;
}

.gallery li img {
	width: 90%;
	transition: width 0.5s;
}

.gallery li:hover img {
	width: 100%;
}

