@font-face {
    font-family: "MuseoSans_0";
    src: url("../fonts/MuseoSans_0.otf");
} 
@font-face {
    font-family: "MuseoSans_300_Italic";
    src: url("../fonts/MuseoSans_300_Italic.otf");
} 

body {
    background-color: white;
    font-family:sans-serif;
}
.main-navigation {
	border-bottom: 1px solid #ccc;
}

.main-navigation a{
	font-family: sans-serif;
}

.submenu {
    display: none;
}

ul li:hover .submenu{
    display: block;
    position: absolute;
    text-align: left;
    padding-top: 10px;
}

.submenu li{
    padding-top: 5px;
    margin: 0px;
    background-color:deeppink;
    width: 60px;
    padding-left: 5px;
    
}

li{
    position: relative;
}

.contenido {
    margin: auto;
    text-align: center;
    width: 960px;
}

.contenido a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

nav a:hover,
.image-selector a:hover{
    color: deeppink;
    font-family: "MuseoSans_300_Italic";
}


.submenu a:hover{
    color: white;
}

.contenido li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.contenido ul {
    padding: 0px;
}

.logo img {
    width: 200px;
    margin: 10px;
}

.contenido h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
}

.contenido .subtitulo {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.contenido p {
    font-size: 14px;
    max-width: 350px;
    margin: auto;
    padding: auto;
    text-align: center;
}

.about h1{
    text-align: right; 
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.about p{
    text-align: right;
    padding-bottom: 20px;
    margin-right: 0;
}


.about section {
    display: inline-block;
    float: left;
    width: 49%;
    margin: auto;
    padding: auto;
    text-align: center;
    box-sizing: border-box;
}

.about {
    padding-top: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.ilustracion img{
    width: 100%;
    margin-left: 20px;
}

.ilustracion h1 {
    display: none;
}

.ilustracion {
    float: none;
}

.selected {
        font-weight: bold;
}

.main-navigation a {
    font-family: "MuseoSans_0"; 
}

nav a:hover {
        color: deeppink;
        font-family: "MuseoSans_300_Italic";
}

.submenu a{
    font-size: 12px;
}


footer img {
    width: 20px;
}

footer li {
    list-style: none;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

footer p {
    float: left;
    font-size: 10px;
    padding-top: 10px;
}

footer ul {
    float: right;
}

.bot {
    padding-bottom: 80px;
    padding-top: 50px;
}

.col_left,
.col_right{
        width: 49%;
}

.col_left {
    float: left;
}

.col_right {
    float: right;
}

form input, 
textarea {
    width: 100%;
    font-size: 14px;
    border: 0;
    padding: 10px;
    background-color: gainsboro;
    box-sizing: border-box;
}

textarea {
    margin-bottom: 10px;
    height: 200px;  
}

.form_group {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

form {
    padding-top: 50px;
}


.image-selector .col_left;
.image-selector .col_right {
    float: left;
    width: 50%;
}

.image-selector img {
    width: 100%;
    margin-bottom: 50px;
}

.image-selector h2 {
    text-align: center;
}

.image-selector img:hover { 
  border: 5px solid deeppink;
}

.image-selector { 
  height: 500px;
}

form input {
    cursor: pointer;
}

.send input{
    width: auto;
    margin-bottom: 10px;
     margin-left: 5px;
    margin-right: 5px; 
}

.send form{
    display: inline-block;
}

.send {
    display: inline-block;
   margin-bottom: 30px;     
}

.gallery img {
    height: 300px;      
}

 



@media (max-width: 1199px) {

.contenido {
    width: 600px;
}

}




@media (max-width: 767px) {
    
.contenido {
    margin: auto;
    padding: auto;
    text-align: center;
    width: 90%;
}
    
.contenido a {
    font-size: 12px;
}
    
.contenido li {
    display: block;
    margin-bottom: 10px;
}
    
.contenido h1 {
    font-size: 30px;
}
    
.contenido .subtitulo {
    font-size: 16px;
    padding-bottom: 20px;
}
    
.main-navigation a {
    font-size: 16px;
}
     
.logo img {
    width: 150px;
}
    
.about h1{
    display: none;
}

.about p{
    text-align: center;
}

.about {
    display: inline-block;
    display: flex;
    flex-direction: column-reverse;
    width: 250px;
    margin: auto;
    padding: auto;
    text-align: center;    
}
    
.about section {
    width: 250px;
    margin: auto;
    padding: auto;
    text-align: center;
}

.ilustracion img{
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}       

.minombre h1 {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
        
footer ul {
    display: none;
}

footer img {
    margin-left: 0px;
    margin-left: 2px;
}
   
footer p {
    float: none;
    font-size: 8px;
}
    
.iconos ul li {
    text-align: center;
    display: inline-block;
    margin-right: 0.5px;
}
    
.bot {
    margin: auto;
    padding: auto;
    text-align: center;
    padding-top: 50px;
}
    
.col_left,
.col_right{ 
    width: 100%;
}
    
.col_left{
    margin-bottom: 10px;
}
    
.submenu a{
    font-size: 12px;
}
    
ul li:hover .submenu{
    display: inline-block;
    text-align: left;
    padding-top: 0px;
    margin-left: 10px;
}
    
.submenu li{
    padding-top: 0px;
    margin: 0px;
}
    
.image-selector img {
    width: 300px;
    margin-bottom: 20px;
}
    
img {

}

div {
    background-color: red !important;
}

div#contenedor.rojo {
    background-color: orange;
}



@media (max-width: 320px) {

.contenido {
    width: 90%;
}

.bot {
    display: none;
}
    
.contenido h1 {
    font-size: 24px;
}

.contenido .subtitulo {
    font-size: 14px;
    padding-bottom: 24px;
}

ul li:hover .submenu{
    display: none;
} 
    
.image-selector img {
    width: 150px;
}
    
}

.selected {
    font-weight: bold;
}

.main-navigation a {
    font-family: "MuseoSans_0"; 
}

nav a:hover {
    color: deeppink;
    font-family: "MuseoSans_300_Italic";
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


#boton {
    margin-top: 40px;
    background-color: #24e20d;
    color: #3e2c2c;
    display: inline-block;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px 30px;
    font-weight: bold;
    border: 1px solid #24e20d;
    cursor: pointer;
    transition: all;
    transition-duration: 0.5s;
}

#boton:hover {
    background-color: blue;
    color: #fff;
    font-size: 35px;
}