/* Base styles */

body {
	font-family: arial;
}

h1 {
	color: #ac341c;
	margin-bottom: 0px;
	margin-top: 0;
	font-size: 80px;
	text-align: center;
	line-height: 70px;
}

.box {
	width: 150px;
	height: 150px; 
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;	
}

.grey {
	background-color: grey;	
}

.red {
	background-color: red;	
}

.black {
	background-color: black;	
}

footer {
	margin: 20px	
}

footer {
	font-size: 20px;	
}